.container-lg.text-center
    h3 Here you can connect your active #[a(ng-href='https://www.spotify.com/') Spotify] #[span account to SpotTracker app]
    br
    button.btn.btn-lg.btn-info(ng-click="spotifyUserConnect()") Lets do it.