
.container-lg
    h3 Task
    p Your task is to create RESTful API in Node.js to get albums and songs provided by Spotify and display on front-end application(Angular2)
    p There has to be developed in two different instances:
    ol
        li Backend - Node.js - RESTful API
        li Frontend - Angular2
    p The database should be MongoDB and to communication between two instances should be oAuth2.

    ol Comments:
        li Here is a link to Spotify API - https://developer.spotify.com/web-api/user-guide/ (you have to use endpoints like ARTISTS, ALBUMS, SEARCH)
        li Node should have methods which requesting Spotify API about albums, artists and searching.
        li Angular2 should have some layer to get some informations from Node.js and display in nice way
        li The application should be able to searching albums and artist and display list of albums or artists songs ready to listen.
        li MongoDB should be used to save your favourites songs(like system - just a flag to DB) also list these songs

    p P.S.: It has to be a little, tricky application which shows us how you will resolve a few things. It has to be only concept, but done in the best way. You are responsible for design and how it will work. Please remember about best practices, newest tools, tests, etc.